@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, rgb(92, 92, 169), rgb(197, 94, 94));
  font-family: "roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.search {
  position: relative;
  height: auto;
  background-color: aqua;
}
.search .input {
  margin: 0;
  height: 50px;
  width: 50px;
  border: none;
  transition: width 3s ease;
}
.search .btnsearch {
  background-color: rgb(209, 114, 114);
  cursor: pointer;
  margin: 0;
  height: 50px;
  width: 50px;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 3s ease;
}
.btnsearch:focus,
.input:focus {
  outline: none;
}
.search.active .input {
  width: 200px;
}
.search.active .btnsearch {
  transform: translateX(200px);
}
